<md-card class="service-card">
    <div>
        <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxLayoutAlign="center center">
            <div fxFlex>
                <h1>Digital Strategies</h1>

                <p>We have a team of passionate programmers commited to delivering
                    <strong>Top-Notch Applications</strong>. And here is some more text just
                    to fill up this section of the screen</p>
            </div>

            <div fxFlex>
                <img src="assets/images/services/marketing/digital_marketing.png">
            </div>
        </div>
    </div>

</md-card>


<md-card class="service-card">
    <div>
        <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxLayoutAlign="center center">

            <div fxFlex>
                <img src="assets/images/services/marketing/sn_strategy.png">
            </div>
            <div fxFlex style="text-align:right;">
                <h1>Social Network Strategies</h1>

                <p>We have a team of passionate programmers commited to delivering
                    <strong>Top-Notch Applications</strong>. And here is some more text just
                    to fill up this section of the screen</p>
            </div>
        </div>
    </div>
</md-card>


<md-card class="service-card">
    <div>
        <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxLayoutAlign="center center">
            <div fxFlex>
                <h1>Search Engine Optimization (SEO)</h1>

                <p>We have a team of passionate programmers commited to delivering
                    <strong>Top-Notch Applications</strong>. And here is some more text just
                    to fill up this section of the screen</p>
            </div>

            <div fxFlex>
                <img src="assets/images/services/marketing/seo.png">
            </div>
        </div>
    </div>

</md-card>


<md-card class="service-card">
    <div>
        <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxLayoutAlign="center center">

            <div fxFlex>
                <img src="assets/images/services/marketing/whitepapers.png">
            </div>
            <div fxFlex style="text-align:right;">
                <h1>Whitepapers</h1>

                <p>We have a team of passionate programmers commited to delivering
                    <strong>Top-Notch Applications</strong>. And here is some more text just
                    to fill up this section of the screen</p>
            </div>
        </div>
    </div>
</md-card>