<div fxLayout="row" fxLayoutAlign="center center" class="wallet-container">
    <div fxLayout="column" fxFlex="60" fxFlex.xs="100" fxFlex.sm="100">
        <h2>Technical Specifications</h2>

        <div>
            <div fxLayout="column">
                <div>
                    <div fxLayout="row" fxLayoutAlign="center center" fxFlex>
                        <span>Money Supply</span>
                        <span fxFlex></span>
                        <span>220.000.000</span>
                    </div>
                </div>
                <hr>

                <div>
                    <div fxLayout="row" fxLayoutAlign="center center" fxFlex>
                        <span>Block Interval</span>
                        <span fxFlex></span>
                        <span>120 seconds</span>
                    </div>
                </div>
                <hr>

                <div>
                    <div fxLayout="row" fxLayoutAlign="center center" fxFlex>
                        <span>Default P2P port</span>
                        <span fxFlex></span>
                        <span>17236</span>
                    </div>
                </div>

                <hr>

                <div>
                    <div fxLayout="row" fxLayoutAlign="center center" fxFlex>
                        <span>Default RPC port</span>
                        <span fxFlex></span>
                        <span>18236</span>
                    </div>
                </div>

                <h3>Coin Emission</h3>

                <p style="margin:0px;text-align: center;">
                    AMC’s coin emission rate is set as it is to secure the slow release of coins available to the market to ensure a more stable currency which will grow gradually over time.
                </p>

                <img src="assets/images/specs/chart.png" alt="Coin Emission">
            </div>
        </div>

    </div>
</div>