.main-splash{
    margin-top:25px;
    background: url(../../../assets/philosophybg.png) no-repeat center center;
    background-size: cover;
    text-align:center;
    padding: 45px;
}

.main-splash h1{
    color:white;
    font-size:40px;
    font-weight: 800;
}

.main-splash p{
    color:white;
    font-size:34px;
    font-weight: 200;
}