.what-is{
    text-align: center;
    margin:40px;
}

.what-is h2{
    font-size:36px;
}

.what-is p{
    font-size:26px;
}




.amc-description{
    font-size:26px;
    font-weight: 100;
}

.intro-cards{
    padding:25px;
}

.intro-cards md-card{

}

.card-img{
    text-align: center;
}
.card-img img{
    max-width:100px;
}


.card-title{
    font-size: 28px;
    color:#0d47a1;
    text-align: center;
}


.card-content{

}

.card-content p{
    font-size:22px;
    font-weight: 200;
}