<div fxLayout="column">
    <div class="what-is">
        <!--<h2>{{ 'INTRO_WHAT_IS' | translate}}</h2>-->

        <p [innerHTML]="'INTRO_WHAT_IS_MAIN_TEXT' | translate" class="amc-description"></p>
    </div>


    <div>
        <div fxFlex fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">
            <div class="intro-cards">
                <md-card>
                    <md-card-content>
                        <div class="card-img">
                            <img src="assets/security_privacy.png" alt="Security & Privacy">
                        </div>
                        <h3 class="card-title">Security & Privacy</h3>
                        <div class="card-content">
                            <p>
                                The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                                A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                                bred for hunting.
                            </p>
                        </div>
                    </md-card-content>
                </md-card>
            </div>
            <div class="intro-cards">
                <md-card>
                    <md-card-content>
                        <div class="card-img">
                            <img src="assets/transactions.png" alt="Security & Privacy">
                        </div>
                        <h3 class="card-title">Instant Transactions</h3>
                        <div class="card-content">
                            <p>
                                The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                                A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                                bred for hunting.
                            </p>
                        </div>
                    </md-card-content>
                </md-card>
            </div>
            <div class="intro-cards">
                <md-card>
                    <md-card-content>
                        <div class="card-img">
                            <img src="assets/inflation.png" alt="Security & Privacy">
                        </div>
                        <h3 class="card-title">Solution to Hyperinflation</h3>
                        <div class="card-content">
                            <p>
                                The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                                A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                                bred for hunting.
                            </p>
                        </div>
                    </md-card-content>
                </md-card>
            </div>
        </div>
    </div>
</div>