<div fxLayout="row" fxLayoutAlign="center center" class="main-splash">

    <div fxLayout="column" fxLayoutAlign="center center">
        <img src="assets/logohr.png" alt="logo" [ngStyle.xs]="{'width.px': 170}">

        <h1>{{ 'INTRO_SLOGAN' | translate}}</h1>
    </div>

</div>

<div class="intro-container">


    <div id="whatis">
        <app-whatis></app-whatis>
    </div>

    <div id="philosophy">
        <app-philosophy></app-philosophy>
    </div>

    <div id="wallet">
        <app-wallet></app-wallet>
    </div>

    <div id="mining-pool">
        <app-mining-pool></app-mining-pool>
    </div>

    <div id="tech-specs">
        <app-tech-specs></app-tech-specs>
    </div>

    <div id="contact">
        <app-contact></app-contact>
    </div>
</div>