.splash{

}

.description{
    padding:35px;
    text-align: left;
}

.video-container iframe{
    margin-top:25px;
}

.overview{
    background:white;
    text-align: center;
    padding:15px;
}

.service-container{

}