<div>
    <div class="portfolio-container">
        <md-card>
            <div fxLayout="column">
                <div>
                    <div fxLayout="row" fxLayoutAlign="center center" fxFlex>
                        <div fxFlex>
                            <h1 style="margin:0px;">AmericanCoin</h1>
                            <span class="slogan" fxHide.xs="true" fxHide.sm="true">In Decentralization We Trust</span>
                            <p>AmericanCoin or AMC is a secure,
                                private, untraceable currency based on the
                                Cryptonote Protocol. It is open-source and freely
                                available to everyone.</p>

                        </div>
                        <div fxFlex>
                            <img src="assets/images/portfolio/elements/mn01.png">
                        </div>


                    </div>
                </div>


                <md-tab-group dynamicHeight="true">
                    <md-tab label="Software Services">
                        <div class="portfolio-service-container">
                            <div fxLayout="column">
                                <div class="service-block">
                                    <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxFlex
                                         fxLayoutAlign="center center">
                                        <div fxFlex>
                                            <h2>Crypto Currency Development</h2>
                                            <p>We developed a Cryptocurrency based on the CryptoNote Protocol
                                             making use of latest technologies, etc.</p>
                                        </div>

                                        <div fxFlex>
                                            <img src="assets/images/portfolio/elements/mn01.png">
                                        </div>
                                    </div>
                                </div>
                                <md-divider></md-divider>
                                <div class="service-block">
                                    <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxFlex
                                         fxLayoutAlign="center center">

                                        <div fxFlex>
                                            <img src="assets/images/portfolio/elements/mn01.png">
                                        </div>
                                        <div fxFlex style="text-align:right;">
                                            <h2>Crypto Currency Development</h2>
                                            <p>We developed a Cryptocurrency based on the CryptoNote Protocol
                                                making use of latest technologies, etc.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </md-tab>
                    <md-tab label="Graphic Design Services">
                        <h1>Some more tab content</h1>
                        <p>...</p>
                    </md-tab>
                    <md-tab label="Marketing Services">
                        <h1>Some more tab content</h1>
                        <p>...</p>
                    </md-tab>
                </md-tab-group>
            </div>
        </md-card>
    </div>
</div>