<md-sidenav #sidenav class="sidenav whiteframe d2 z-index-5" mode="side" opened="true">
  <md-list class="clickable-list" fxFlex>
    <h3 md-subheader>Browse</h3>
    <md-list-item>
      <button md-button fxFlex (click)="helloWorld()">
        <div fxLayout fxLayoutAlign="center center">
          <md-icon md-list-icon>folder</md-icon>
          <span class="item-title">Dashboard</span>
          <span fxFlex></span>
          <span class="badge">4</span>
        </div>
      </button>
    </md-list-item>

    <md-list-item>
      <button md-button fxFlex (click)="toggleSidenav()">
        <div fxLayout fxLayoutAlign="center center">
          <md-icon md-list-icon>arrow_back</md-icon>
          <span class="item-title">Toggle</span>
          <span fxFlex></span>
          <span class="badge">4</span>
        </div>
      </button>
    </md-list-item>

    <!--<md-divider></md-divider>-->
  </md-list>
</md-sidenav>
