/*
** Sidenav
*/

.sidenav{
    width:300px;
    padding:0px;
    margin:0px;
    background:transparent;
    /*box-shadow: -2px 2px 12px 0px rgba(0,0,0,0.75)*/
}

md-sidenav.md-sidenav-opened, md-sidenav.md-sidenav-opening{
    /*box-shadow: 0 0 0 0 !important;*/
}