.container{
    padding:25px;
}

.main-splash{
    margin-top:35px;
    background: black;
    background-size: cover;
    text-align:center;
    padding: 45px;
}

h1{
    color:white;
    font-size:28px;
    font-weight: 800;
}


h2{
    color:white;
    font-size:33px;
    font-weight: 800;
}

.main-splash p{
    color:white;
    font-size:34px;
    font-weight: 200;
}

.main-splash img{
    max-width: 600px;
}

md-icon{
    color:white;
}

.author p{
    font-size: 18px;
}