<div>
    <div class="main-splash">
        <div>
            <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxLayoutAlign="center center">
                <div fxFlex>
                    <h2>Email us at</h2>
                    <button md-button style="color:white;">
                        <div fxLayout="row" fxLayoutAlign="center center">
                            <md-icon>mail</md-icon>
                            <h3 style="color:white;margin-left:10px;">contact@americancoin.org</h3>
                        </div>
                    </button>
                </div>

                <div fxFlex>
                    <h2>Follow us on</h2>
                    <div>
                        <div fxLayout="row" fxLayoutAlign="center center">
                            <button  md-icon-button>
                                <md-icon class="fa-2x" fontSet="fa" fontIcon="fa-facebook"></md-icon>
                            </button>
                            <button  md-icon-button>
                                <md-icon class="fa-2x" fontSet="fa" fontIcon="fa-instagram"></md-icon>
                            </button>
                            <button  md-icon-button>
                                <md-icon class="fa-2x" fontSet="fa" fontIcon="fa-twitter"></md-icon>
                            </button>
                            <button  md-icon-button>
                                <md-icon class="fa-2x" fontSet="fa" fontIcon="fa-youtube"></md-icon>
                            </button>
                            <button  md-icon-button>
                                <md-icon class="fa-2x" fontSet="fa" fontIcon="fa-vimeo"></md-icon>
                            </button>
                            <button  md-icon-button>
                                <md-icon class="fa-2x" fontSet="fa" fontIcon="fa-reddit"></md-icon>
                            </button>
                        </div>
                    </div>
                </div>

                <div fxFlex>
                    <h2>Source Code</h2>
                    <button md-button>
                        <div fxLayout="row" fxLayoutAlign="center center">
                            <md-icon class="fa-2x" fontSet="fa" fontIcon="fa-github"></md-icon>
                            <h3 style="color:white;margin-left:10px;">@AmericanCoinAMC</h3>
                        </div>
                    </button>
                </div>
            </div>
        </div>

        <p style="font-size:18px;">Made with &hearts; by
            <a href="https://atomicprojects.tech" target="_blank">Atomic</a></p>
    </div>
</div>
