<div>
    <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">

        <div fxFlex="30" fxFlex.xs="100" fxFlex.sm="100">
            <md-list class="nav-list">
                <md-list-item *ngFor="let section of sections;">
                    <button md-button (click)="activateSection(section.short)" class="button-list"
                            [ngClass]="{'active-item': activeSection == section.short}">
                        <div>
                            <div fxLayout="row" fxLayoutAlign="start center">
                                <img src="/assets/images/portfolio/{{section.short}}.png" alt="Img">
                                <h3>{{section.long}}</h3>
                                <span fxFlex></span>
                                <img *ngFor="let service of section.services;"
                                     src="assets/images/{{service}}.png" alt="{{service}}"
                                     [ngStyle.xs]="{'width.px': 20}"
                                     [ngStyle.sm]="{'width.px': 21}"
                                     [ngStyle.md]="{'width.px': 22}"
                                     [ngStyle.lg]="{'width.px': 23}">
                            </div>
                        </div>


                    </button>
                </md-list-item>
            </md-list>
        </div>
        <div fxFlex="70" fxFlex.xs="100" fxFlex.sm="100">
            <div>
                <app-americancoin *ngIf="activeSection == 'amc'"></app-americancoin>
                <app-world-bank *ngIf="activeSection == 'wb'"></app-world-bank>
                <app-minoticiero *ngIf="activeSection == 'mn'"></app-minoticiero>
                <app-cambiaelmundo *ngIf="activeSection == 'cem'"></app-cambiaelmundo>
                <app-kritica *ngIf="activeSection == 'kritica'"></app-kritica>
                <app-gday *ngIf="activeSection == 'gday'"></app-gday>
                <app-celestial-salt *ngIf="activeSection == 'cs'"></app-celestial-salt>
            </div>
        </div>
    </div>
</div>