<md-card class="service-card">
    <div>
        <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxLayoutAlign="center center">
            <div fxFlex>
                <h1>2D Animation</h1>

                <p>We specialize in creating high quality <strong>inspiring</strong> and <strong>innovative</strong>
                    explainer align with your business's goals maintaining the consistency and message of your brand.</p>
            </div>

            <div fxFlex>
                <img src="assets/images/services/productions/animation.png">
            </div>
        </div>
    </div>

</md-card>


<md-card class="service-card">
    <div>
        <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxLayoutAlign="center center">

            <div fxFlex>
                <img src="assets/images/services/productions/post_prod.png">
            </div>
            <div fxFlex style="text-align:right;">
                <h1>Video Post Production</h1>

                <p>Our team of specialists is dedicated to the formation of <strong>captivating</strong> visual content
                    for corporate, commercial, and entertainment endeavors.</p>
            </div>
        </div>
    </div>
</md-card>
