

<div class="app-container" id="inner-app-scroll-container">

    <div class="page-loader" *ngIf="loading">
        <div fxLayout="row" fxLayoutAlign="center center" fxFlex>
            <img src="assets/images/logohr.png" alt="logo">
        </div>
    </div>

    <router-outlet></router-outlet>

    <button md-mini-fab
            class="page-fab"
            id="page-nav"
            (click)="scrollToTop()"
            [@favPanel]="favState">
        <md-icon>arrow_upward</md-icon>
    </button>
</div>