.page-header{
    padding: 0px 10px 0px 10px;
    background:white;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.24);
    color:#616161;
}



.page-header img{
    max-width: 50px;
}

.page-header h3{
    margin-left:10px;
    font-weight: 300;
}



.app-container{
    height:100%;
    margin:0px;
    padding:0px;
}



.content-container{
    height:100%;
    width:100%;
    margin:0px;
    padding:0px;
}





/*
* Navigation
*/

.active-navigation{
    color:#283593;
}


.sidenav{
    width:280px;
}


/*
** Clickable Lists
*/

.clickable-list{
    margin:0;
    padding:20px 10px 10px 10px;
}

.clickable-list md-list-item{
    padding:0 0 0 -10px;
    margin:0px;
}
.clickable-list md-list-item button{
    height: 40px;
    width: 100%;
    margin:0px;
    text-align:left;
}

.clickable-list md-list-item button .item-title{
    font-size:18px;
    font-weight: 300;
}
.clickable-list md-list-item button md-icon{
}
.clickable-list md-list-item button .badge{
    border-radius: 30px;
    height: 20px;
    min-width: 15px;
    padding:0px 6px 0px 6px;
    background: #03a9f4;
    color:white;
    font-size:13px;
    line-height: 21px;
}



.language-button img{
    max-width:25px;
}



.page-fab{
    position: fixed;
    bottom:20px;
    right:20px;
}




.footer{
    padding:45px;
    background: #283593;
    color:white;
}



















