<div fxLayout="row" fxLayoutAlign="center center" class="wallet-container">
    <div fxLayout="column" fxFlex="60" fxFlex.xs="100" fxFlex.sm="100">
        <h2>Wallet</h2>

        <p>
            The Official AmericanCoin Wallet offers absolute security
            and total privacy. Only you can access and control your funds,
            accounts and transactions. Download our user friendly Desktop Wallet
            (GUI - Graphical User Interface) based on your operating system. The Command-Line
            Interface (CLI) option is also available.
        </p>

        <img src="assets/images/wallet/wallet.png" alt="Wallet">
    </div>
</div>