<div>
    <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">

        <div fxFlex="20" fxFlex.xs="100" fxFlex.sm="100">
            <md-list class="nav-list">
                <md-list-item *ngFor="let section of sections;">
                    <button md-button (click)="activateSection(section)" class="button-list"
                            [ngClass]="{'active-item': activeSection == section}">
                        <div fxLayout="row" fxLayoutAlign="start center">
                            <img src="/assets/images/{{section}}.png" alt="Img">
                            <h3>{{section | capitalize}}</h3>
                        </div>
                    </button>
                </md-list-item>
            </md-list>
        </div>
        <div fxFlex="80" fxFlex.xs="100" fxFlex.sm="100">
            <app-software *ngIf="activeSection == 'software'"></app-software>
            <app-graphic-design *ngIf="activeSection == 'graphic-design'"></app-graphic-design>
            <app-productions *ngIf="activeSection == 'productions'"></app-productions>
            <app-marketing *ngIf="activeSection == 'marketing'"></app-marketing>
        </div>
    </div>
</div>