<div>
    <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxLayoutAlign="center center"
         class="mining-container">
        <div fxFlex="60" fxFlex.xs="100" fxFlex.sm="100">
            <h2>Mining AmericanCoin</h2>
            <p>
                Forget about having to spend thousands of dollars on a machine
                that specifically mines coins, thanks to the egalitarian hash
                function designed for CPU & GPU Mining, you can mine AmericanCoin
                from your personal computer.
            </p>
            <p>For more information about mining AMC...</p>
            <button md-button (click)="openUrl('http://americancoin.farm')">
                Visit AmericanCoin’s Official Mining Pool
            </button>
        </div>
        <div fxFlex="40" fxFlex.xs="100" fxFlex.sm="100" style="text-align: right">
            <img src="assets/images/mining/mining.png" alt="Mining" style="max-width: 500px;">
        </div>
    </div>
</div>