<md-card class="service-card">
    <div>
        <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxLayoutAlign="center center">
            <div fxFlex>
                <h1>Logos</h1>

                <p>We have a team of passionate programmers commited to delivering
                    <strong>Top-Notch Applications</strong>. And here is some more text just
                    to fill up this section of the screen</p>
            </div>

            <div fxFlex>
                <img src="assets/images/services/design/logo.png">
            </div>
        </div>
    </div>

</md-card>


<md-card class="service-card">
    <div>
        <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxLayoutAlign="center center">

            <div fxFlex>
                <img src="assets/images//services/design/presentation.png">
            </div>
            <div fxFlex style="text-align:right;">
                <h1>Presentations</h1>

                <p>We have a team of passionate programmers commited to delivering
                    <strong>Top-Notch Applications</strong>. And here is some more text just
                    to fill up this section of the screen</p>
            </div>
        </div>
    </div>
</md-card>


<md-card class="service-card">
    <div>
        <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxLayoutAlign="center center">
            <div fxFlex>
                <h1>Business Cards</h1>

                <p>We have a team of passionate programmers commited to delivering
                    <strong>Top-Notch Applications</strong>. And here is some more text just
                    to fill up this section of the screen</p>
            </div>

            <div fxFlex>
                <img src="assets/images/services/design/business_card.png">
            </div>
        </div>
    </div>

</md-card>


<md-card class="service-card">
    <div>
        <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxLayoutAlign="center center">

            <div fxFlex>
                <img src="assets/images/services/design/business_card.png">
            </div>
            <div fxFlex style="text-align:right;">
                <h1>Photo Post Production</h1>

                <p>We have a team of passionate programmers commited to delivering
                    <strong>Top-Notch Applications</strong>. And here is some more text just
                    to fill up this section of the screen</p>
            </div>
        </div>
    </div>
</md-card>