<div class="wallet-container">

    <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxFlex>
        <div fxFlex>
            <div fxLayout="column" style="padding:10px;">
                <h1>Send & Receive Funds Instantly</h1>

                <p>We have to put some information about how easy it is to set up the wallet,
                    create backups, load backups. Initially, we have to only provide an overview but
                    this is a section that has to pontentially end up becoming some kind of Tutorial + Download Center.</p>

                <h1 style="margin-top:20px;">Pro Tip</h1>

                <p>Download and setup the latest version of the blockchain or order to avoid
                    long syncronization waits.</p>

                <div fxLayout="column" fxLayoutAlign="center center">
                    <button md-raised-button>
                        Download the Latest Blockchain
                    </button>
                </div>
            </div>
        </div>

        <div fxFlex fxHide.xs="true">
            <h1>Download the AmericanCoin Wallet</h1>
            <div>
                <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxFlex style="padding:15px;">
                    <div fxFlex>
                        <button md-button fxFlex class="os-button">
                            <div fxLayout="row" fxLayoutAlign="start center">
                                <img src="assets/windows.png" alt="Windows">
                                <div fxLayout="column">
                                    <span class="os-title">Windows</span>
                                </div>
                            </div>
                        </button>
                    </div>
                    <div fxFlex>
                        <button md-button fxFlex class="os-button">
                            <div fxLayout="row" fxLayoutAlign="start center">
                                <img src="assets/mac.png" alt="Mac">
                                <div fxLayout="column">
                                    <span class="os-title">Mac</span>
                                </div>
                            </div>
                        </button>
                    </div>
                    <div fxFlex>
                        <button md-button fxFlex class="os-button">
                            <div fxLayout="row" fxLayoutAlign="start center">
                                <img src="assets/linux.png" alt="Linux">
                                <div fxLayout="column">
                                    <span class="os-title">Linux</span>
                                </div>
                            </div>
                        </button>
                    </div>
                </div>
            </div>

            <img src="assets/wallet.png" alt="Wallet">
        </div>
    </div>

</div>