.wallet-container{
    padding:15px;
}

h1{
    font-size:36px;
    color:#0d47a1;
    font-weight: 600;
    margin:0;
}

h2{
    font-size:27px;
    color:#0d47a1;
    font-weight: 600;
    margin:0;
}

p{
    font-size:26px;
    font-weight: 200;
}

img{

    max-width: 100%;
}



.os-button{
    height:50px;

}

.os-button img{
    max-width:40px;

}


.os-title{
    font-size:24px;
    font-weight: 100;
    margin-left:7px;
}