<div fxLayout="column">
    <div>
        <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxLayoutAlign="center center" fxFlex>
            <div fxFlex="40" fxFlex.xs="100" fxFlex.sm="100" class="description">
                <h1>{{ 'HOME_TITLE' | translate}}</h1>
                <p>Lorem ipsum lora ika loran canis canny isuma leona sin una sla iel um lora ika loran
                    canis canny isuma leona sin una sla iel um lora ika loran canis canny isuma leona sin una sla iel um
                    lora ika loran canis canny isuma leona sin una sla iel.</p>
                <div class="actions">
                    <button md-raised-button color="primary">Get a Quote</button>
                </div>

            </div>
            <div fxFlex="60" fxFlex.xs="100" fxFlex.sm="100">
                <div class="video-container">
                    <iframe width="853" height="480"
                            src="//www.youtube.com/embed/Q8TXgCzxEnw?rel=0" frameborder="0"
                             allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
</div>



